body,
html {
    height: 100%;
    font-family: Zain, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-align: right;
    scroll-behavior: smooth
}

body::-webkit-scrollbar {
    width: 10px
}

body::-webkit-scrollbar-track {
    background: #f1f1f1
}

body::-webkit-scrollbar-thumb {
    background: #888
}

body::-webkit-scrollbar-thumb:hover {
    background: #f36100
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #f1f1f1;
    font-weight: 400;
    font-family: Zain, sans-serif
}

h1 {
    font-size: 70px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 30px
}

h4 {
    font-size: 24px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

p {
    font-size: 14px;
    font-family: Zain, sans-serif;
    color: #a9a9a9;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0
}

img {
    max-width: 100%
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: 0
}

a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
    color: #fff
}

ol,
ul {
    padding: 0;
    margin: 0
}

.btn-outline-primary {
    color: #f36100 !important;
    border-color: #f36100 !important
}

.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover {
    background: #f36100 !important;
    border-color: #f36100 !important;
    color: #fff !important;
    box-shadow: none !important
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    box-shadow: none !important;
    background: #f36100 !important;
    border-color: #f36100 !important
}

.pl-4rem {
    padding-left: 4rem
}

.section-title {
    margin-bottom: 45px;
    text-align: center
}

.section-title span {
    font-size: 16px;
    color: #f36100;
    text-transform: uppercase;
    font-weight: 700
}

.section-title h2 {
    color: #c9c9c9;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8px
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center
}

.img-container img {
    object-fit: contain;
    height: 100%;
}

.img-container {
    height: 100%;
}

.spad {
    padding-top: 70px;
    padding-bottom: 70px
}

.spad-2 {
    padding-top: 50px;
    padding-bottom: 70px
}

.text-white a,
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white li,
.text-white p,
.text-white span {
    color: #fff
}

.primary-btn {
    display: inline-block;
    font-size: 14px;
    padding: 17px 30px 16px;
    color: #fff;
    background: #f36100;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700
}

.primary-btn.btn-normal {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.primary-btn.btn-normal:hover {
    background: #f36100;
    border-color: #f36100
}

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader .8s linear infinite;
    -webkit-animation: loader .8s linear infinite
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        border: 4px solid #f44336;
        border-left-color: transparent
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0);
        border: 4px solid #f44336;
        border-left-color: transparent
    }

    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent
    }

    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent
    }
}

.search-model {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    z-index: 99999
}

.search-model-form {
    padding: 0 15px
}

.search-model-form input {
    width: 500px;
    font-size: 40px;
    border: none;
    border-bottom: 2px solid #333;
    background: 0 0;
    color: #999
}

.search-close-switch {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    line-height: 28px;
    top: 30px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.offer-section {
    color: #fff;
    background: #f36100;
    padding: 10px 0
}

.header-section {
    position: fixed;
    background-color: transparent;
    left: 0;
    width: 100%;
    padding: 15px;
    padding-right: 0;
    z-index: 99
}

.header-section.scrolled {
    backdrop-filter: blur(20px);
    top: 0
}

.logo a {
    display: inline-block
}

.logo a img {
    height: 34px
}

.nav-menu {
    text-align: center
}

.nav-menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 32px;
    position: relative;
    z-index: 1
}

.nav-menu ul li .dropdown {
    position: absolute;
    left: -30px;
    top: 58px;
    width: 180px;
    background: #252525;
    z-index: 99;
    text-align: left;
    padding: 13px 0 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.nav-menu ul li .dropdown li {
    margin-right: 0;
    display: block
}

.nav-menu ul li .dropdown li a {
    display: block;
    text-transform: none;
    padding: 6px 0 6px 30px;
    font-weight: 400
}

.nav-menu ul li .dropdown li a:after {
    display: none
}

.nav-menu ul li:last-child {
    margin-right: 0
}

.nav-menu ul li.active>a {
    color: #f36100
}

.nav-menu ul li.active>a:after {
    opacity: 1
}

.nav-menu ul li:hover>a {
    color: #f36100
}

.nav-menu ul li:hover>a:after {
    opacity: 1
}

.nav-menu ul li:hover .dropdown {
    opacity: 1;
    visibility: visible
}

.nav-menu ul li a {
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Oswald, sans-serif;
    padding: 10px 0;
    position: relative;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.nav-menu ul li a:after {
    position: absolute;
    left: 0;
    top: 22px;
    height: 1px;
    width: 100%;
    background: #f36100;
    content: "";
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.top-option {
    text-align: right;
    padding: 9px 0
}

.top-option .to-social {
    display: inline-block
}

.top-option .to-social a {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-left: 15px
}

.offcanvas-menu-wrapper {
    display: none
}

.canvas-open {
    display: none
}

.hs-slider.owl-carousel .owl-item.active .hs-item .hi-text span {
    position: relative;
    top: 0;
    -webkit-transition: all .2s ease .2s;
    -o-transition: all .2s ease .2s;
    transition: all .2s ease .2s;
    opacity: 1
}

.hs-slider.owl-carousel .owl-item.active .hs-item .hi-text h1 {
    position: relative;
    top: 0;
    -webkit-transition: all .4s ease .4s;
    -o-transition: all .4s ease .4s;
    transition: all .4s ease .4s;
    opacity: 1
}

.hs-slider.owl-carousel .owl-item.active .hs-item .hi-text .primary-btn {
    position: relative;
    top: 0;
    -webkit-transition: all .6s ease .6s;
    -o-transition: all .6s ease .6s;
    transition: all .6s ease .6s;
    opacity: 1
}

.hs-slider.owl-carousel .owl-nav button {
    height: 46px;
    width: 46px;
    color: #a9a9a9;
    background: rgba(255, 255, 255, .1);
    line-height: 46px;
    text-align: center;
    position: absolute;
    font-size: 24px;
    left: 30px;
    top: 50%;
    -webkit-transform: translateY(-23px);
    -ms-transform: translateY(-23px);
    transform: translateY(-23px)
}

.hs-slider.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: 30px
}

.choseus-section {
    background: #0a0a0a;
    padding-bottom: 70px
}

.cs-item {
    text-align: center;
    margin-bottom: 30px
}

.cs-item:hover span {
    background: #f36100;
    color: #fff
}

.cs-item span {
    height: 90px;
    width: 90px;
    background: rgba(255, 255, 255, .1);
    border-radius: 50%;
    display: inline-block;
    color: #f36100;
    line-height: 90px;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.cs-item h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px
}

.classes-section {
    background: #151515;
    padding-bottom: 80px
}

.classes-section .section-title {
    margin-bottom: 35px
}

.class-item {
    overflow: hidden;
    margin-bottom: 30px
}

.class-item .ci-pic {
    height: 370px
}

.class-item .ci-pic img {
    height: 100%;
    object-fit: cover;
    min-width: 100%
}

.class-item .ci-text {
    background: #0a0a0a;
    position: relative;
    padding: 10px 30px 26px 30px;
    z-index: 1
}

.class-item .ci-text:after {
    position: absolute;
    left: -5px;
    top: -44px;
    height: 100px;
    width: 600px;
    border-top: 4px solid #464646;
    background: #0a0a0a;
    content: "";
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: -1
}

.class-item .ci-text span {
    color: #f36100;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 23px
}

.class-item .ci-text h5 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 4px
}

.class-item .ci-text h4 {
    display: -webkit-box;
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 4px;
    height: 65px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden
}

.banner-section {
    height: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.bs-text.service-banner .bt-tips {
    margin-bottom: 35px
}

.bs-text h2 {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px
}

.bs-text h1 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px
}

.bs-text .bt-tips {
    font-size: 20px;
    color: #c4c4c4;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px
}

.bs-text .primary-btn {
    background: 0 0;
    border: 2px solid #f36100
}

.bs-text .play-btn {
    display: inline-block;
    height: 70px;
    width: 70px;
    background: #f36100;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 36px;
    color: #fff
}

.pricing-section {
    background: #151515
}

.pricing-section .section-title {
    margin-bottom: 56px
}

.ps-item {
    text-align: center;
    padding: 40px 30px 52px;
    border: 1px solid #464646;
    -webkit-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    margin-bottom: 30px;
    position: relative
}

.ps-item:hover {
    background: #fff;
    border-color: #fff
}

.ps-item:hover h3 {
    color: #111
}

.ps-item:hover .pi-price span {
    color: #444
}

.ps-item:hover ul li {
    color: #111;
    font-weight: 600
}

.ps-item:hover .primary-btn.pricing-btn {
    background: #f36100
}

.ps-item h3 {
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 16px;
    -webkit-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg)
}

.ps-item .pi-price {
    margin-bottom: 30px;
    -webkit-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg)
}

.ps-item .pi-price h2,
.ps-item .pi-price h5 {
    font-size: 50px;
    color: #f36100;
    font-weight: 600;
    display: inline-block
}

.ps-item .pi-price span {
    color: #c4c4c4;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase
}

.ps-item ul {
    margin-bottom: 40px;
    -webkit-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg);
    text-align: right
}

.ps-item ul li {
    font-size: 15px;
    color: #c4c4c4;
    line-height: 32px
}

.ps-item .primary-btn.pricing-btn {
    display: block;
    background: #333;
    -webkit-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg)
}

.barfiller {
    width: 100%;
    height: 12px;
    background: #fcfcfc;
    border: 1px solid #ccc;
    position: relative;
    margin-bottom: 20px;
    box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, .5)
}

.barfiller .fill {
    display: block;
    position: relative;
    width: 0;
    height: 100%;
    background: #333;
    z-index: 1
}

.barfiller .tipWrap {
    display: none
}

.barfiller .tip {
    margin-top: -30px;
    padding: 2px 4px;
    font-size: 11px;
    color: #fff;
    left: 0;
    position: relative;
    z-index: 2;
    background: #333
}

.barfiller .tip:after {
    border: solid;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 6px 6px 0 6px;
    content: "";
    display: block;
    position: absolute;
    left: 9px;
    top: 100%;
    z-index: 9
}

.team-section {
    background: #0a0a0a
}

.team-section.team-page {
    padding-bottom: 70px
}

.team-section.team-page .ts-item {
    margin-bottom: 30px
}

.team-section.team-page .ts-item:hover .ts_text {
    bottom: -30px
}

.team-section.team-page .ts-item .tt_social {
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
    margin-top: 13px
}

.team-section.team-page .ts-item .tt_social a {
    font-size: 14px;
    color: #c4c4c4;
    margin-right: 10px
}

.team-section.team-page .ts-item .tt_social a:last-child {
    margin-right: 0
}

.team-title .section-title {
    text-align: left;
    float: left
}

.primary-btn.appoinment-btn {
    background: 0 0;
    border: 2px solid #f36100;
    float: right;
    margin-top: 10px
}

.ts-slider .col-lg-4 {
    max-width: 100%
}

.ts-slider.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 30px
}

.ts-slider.owl-carousel .owl-dots button {
    height: 4px;
    width: 20px;
    background: #5c5c5c;
    margin-right: 15px;
    -webkit-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg)
}

.ts-slider.owl-carousel .owl-dots button.active {
    background: #f36100
}

.ts-slider.owl-carousel .owl-dots button:last-child {
    margin-right: 0
}

.ts-item {
    height: 357px;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: contain
}

.ts-item:hover .ts_text {
    bottom: -35px
}

.ts-item .ts_text {
    padding: 40px 0 60px;
    text-align: center;
    background: #0a0a0a;
    border-top: 4px solid #464646;
    -webkit-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);
    position: absolute;
    left: 0;
    bottom: -250px;
    width: 100%;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.ts-item .ts_text h4 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 14px;
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg)
}

.ts-item .ts_text span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: #aaa;
    text-transform: uppercase;
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg)
}

.transformation {
    background: #151515
}

.footer-section {
    background: #000;
    padding-top: 50px
}

.fs-about {
    margin-bottom: 30px
}

.fs-about .fa-logo {
    margin-bottom: 30px
}

.fs-about .fa-logo a {
    display: inline-block
}

.fa-logo a img {
    height: 50px
}

.fs-about p {
    line-height: 26px;
    color: #c4c4c4
}

.fs-about .fa-social a {
    font-size: 14px;
    color: #c4c4c4;
    margin-right: 10px
}

.fs-about .fa-social a:last-child {
    margin-right: 0
}

.fs-widget {
    margin-bottom: 30px
}

.fs-widget h4 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 18px
}

.fs-widget ul li {
    list-style: none;
    font-size: 16px;
    color: #c4c4c4;
    line-height: 30px
}

.fs-widget ul li a {
    font-size: 16px;
    color: #c4c4c4;
    line-height: 30px
}

.copyright-text {
    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: .5px;
    border-top: 1px solid #1a1a1a;
    padding: 25px 0;
    margin-top: 15px
}

.copyright-text a,
.copyright-text i {
    color: #f36100
}

.about-video {
    height: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.about-video .play-btn {
    display: inline-block;
    height: 70px;
    width: 70px;
    background: #f36100;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 36px;
    color: #fff
}

.about-text {
    background: #000;
    height: 640px;
    padding: 120px 70px 0 70px
}

.about-text .section-title {
    text-align: left;
    margin-bottom: 30px
}

.ts_slider.owl-carousel .owl-item img {
    display: inline-block
}

.ts_slider.owl-carousel .owl-nav button {
    height: 46px;
    width: 46px;
    color: #a9a9a9;
    background: rgba(255, 255, 255, .1);
    line-height: 46px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    left: 30px;
    top: 50%;
    -webkit-transform: translateY(-23px);
    -ms-transform: translateY(-23px);
    transform: translateY(-23px)
}

.ts_slider.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: 30px
}

.class-details-section {
    background: #151515;
    padding-bottom: 60px
}

.class-details-text .cd-text {
    margin-bottom: 12px
}

.class-details-text .cd-text .cd-single-item h2,
.class-details-text .cd-text .cd-single-item h3,
.class-details-text .cd-text .cd-single-item h4 {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 28px
}

.class-details-text .cd-text .cd-single-item ul li {
    list-style: disc
}

.class-details-text .cd-text .cd-single-item p {
    color: #c4c4c4
}

.class-details-text .cd-trainer .cd-trainer-pic img {
    min-width: 100%
}

.class-details-text .cd-trainer .cd-trainer-text {
    position: relative
}

.class-details-text .cd-trainer .cd-trainer-text .trainer-title {
    margin-bottom: 18px
}

.class-details-text h3,
.class-details-text h4,
.class-details-text h5 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 6px
}

.class-details-text ul {
    color: #aaa;
    margin-bottom: 10px
}

.class-details-text .cd-trainer .cd-trainer-text .trainer-title span {
    font-size: 12px;
    color: #aaa;
    text-transform: uppercase
}

.class-details-text .cd-trainer .cd-trainer-text p {
    color: #c4c4c4
}

.sidebar-option {
    padding-left: 40px
}

.sidebar-option .so-categories {
    margin-bottom: 40px
}

.sidebar-option .so-categories .title {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px
}

.sidebar-option .so-categories ul li {
    list-style: none
}

.sidebar-option .so-categories ul li:hover a {
    color: #f36100
}

.sidebar-option .so-categories ul li:hover a span {
    color: #fff
}

.sidebar-option .so-categories ul li a {
    font-size: 14px;
    color: #c4c4c4;
    line-height: 40px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.sidebar-option .so-categories ul li a span {
    font-size: 12px;
    float: right
}

.leave-comment h5 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px
}

.leave-comment form input {
    font-size: 16px;
    color: #c4c4c4;
    width: 100%;
    height: 46px;
    border: 3px solid #363636;
    padding-left: 20px;
    padding-right: 5px;
    background: 0 0
}

.leave-comment select {
    font-size: 18px;
    color: #c4c4c4;
    width: 100%;
    height: 46px;
    border: 3px solid #363636;
    padding-left: 20px;
    padding-right: 5px;
    background: 0 0
}

.leave-comment form input::-webkit-input-placeholder {
    color: #c4c4c4
}

.leave-comment form input::-moz-placeholder {
    color: #c4c4c4
}

.leave-comment form input:-ms-input-placeholder {
    color: #c4c4c4
}

.leave-comment form input::-ms-input-placeholder {
    color: #c4c4c4
}

.leave-comment form input::placeholder {
    color: #c4c4c4
}

.leave-comment select::-webkit-input-placeholder {
    color: #c4c4c4
}

.leave-comment select::-moz-placeholder {
    color: #c4c4c4
}

.leave-comment select:-ms-input-placeholder {
    color: #c4c4c4
}

.leave-comment select::-ms-input-placeholder {
    color: #c4c4c4
}

.leave-comment select::placeholder {
    color: #c4c4c4
}

.leave-comment form textarea {
    font-size: 13px;
    color: #c4c4c4;
    width: 100%;
    height: 100px;
    border: 1px solid #363636;
    padding-left: 20px;
    padding-top: 12px;
    padding-right: 5px;
    background: 0 0;
    margin-bottom: 14px;
    resize: none
}

.leave-comment form textarea::-webkit-input-placeholder {
    color: #c4c4c4
}

.leave-comment form textarea::-moz-placeholder {
    color: #c4c4c4
}

.leave-comment form textarea:-ms-input-placeholder {
    color: #c4c4c4
}

.leave-comment form textarea::-ms-input-placeholder {
    color: #c4c4c4
}

.leave-comment form textarea::placeholder {
    color: #c4c4c4
}

.leave-comment form button {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    border: none;
    padding: 14px 0 12px;
    background: #f36100
}

.contact-section {
    background: #0a0a0a
}

.map {
    height: 550px;
    margin-top: 35px
}

.map iframe {
    width: 100%
}

.section-modalAlert {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, .9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.modalAlert-text {
    text-align: center
}

.modalAlert-text h1 {
    font-size: 200px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px
}

.modalAlert-text h2 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 25px
}

.modalAlert-text h4 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px
}

.modalAlert-text {
    font-size: 15px;
    color: #c4c4c4;
    margin-bottom: 43px
}

.modalAlert-text a {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: inline-block
}

.modalAlert-text a:after {
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 1px;
    width: 100%;
    background: #252525;
    content: ""
}

.modalAlert-text a i {
    color: #f36100;
    margin-right: 5px
}

.status-icon img {
    width: 130px;
    height: 130px
}

.contact-us {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 999
}

.contact-text {
    letter-spacing: 1px !important;
    color: #c4c4c4;
    padding-left: 2px
}

.contact-us .whatsapp-icon {
    background: #25d366;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer
}

.payment-methods-container {
    display: flex
}

.payment-card {
    background-color: #cfcecd;
    border: 1px solid #f36100;
    border-radius: 8px;
    padding: .2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform .3s;
    cursor: pointer
}

.payment-card:hover {
    transform: scale(1.05)
}

.payment-card img {
    width: 90px;
    height: auto
}

.payment-card h5 {
    font-size: 1rem
}

.payment-card input[type=radio]:checked+label {
    background-color: #f36100;
    border-radius: 8px;
    border: 1px solid #cfcecd
}

.accordion-section {
    background-color: #151515
}

.accordion .card {
    background-color: #151515;
    color: #fff
}

.accordion .card .card-body {
    padding: 0 20px 20px 20px
}

.accordion .card .card-body,
.accordion .card .card-header {
    font-size: 16px !important
}

.accordion .card .card-header a {
    color: #f36100;
    padding: 10px 0;
    border-bottom: 3px solid #4a4a4a;
    font-size: 28px
}

.accordion .card .card-header a:focus {
    box-shadow: none
}

.accordion-title {
    color: #fff
}

.accordion-title h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8px
}

@media only screen and (min-width:1650px) and (max-width:1920px) {
    .nav-menu ul li {
        margin-right: 60px
    }
}

@media only screen and (min-width:1200px) {
    .container {
        max-width: 1170px
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .nav-menu ul li {
        margin-right: 5px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .about-text {
        height: auto;
        padding: 120px 70px 60px 70px
    }

    .class-details-text .cd-trainer .cd-trainer-text {
        padding-top: 30px
    }

    .sidebar-option {
        padding-left: 0
    }

    .table-controls {
        text-align: left;
        margin-top: 0;
        margin-bottom: 30px
    }

    .class-item .ci-text:after {
        width: 750px
    }

    .ts_slider.owl-carousel .owl-nav button {
        left: 0
    }

    .ts_slider.owl-carousel .owl-nav button.owl-next {
        right: 0
    }

    .hs-slider.owl-carousel .owl-nav button {
        left: 0
    }

    .hs-slider.owl-carousel .owl-nav button.owl-next {
        right: 0
    }

    .offcanvas-menu-overlay {
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, .7);
        z-index: 999;
        height: 100%;
        width: 100%;
        visibility: hidden;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s
    }

    .offcanvas-menu-overlay.active {
        visibility: visible
    }

    .canvas-open {
        position: absolute;
        right: 40px;
        top: 20px;
        font-size: 22px;
        width: 30px;
        height: 30px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 2px;
        line-height: 29px;
        text-align: center;
        z-index: 1;
        display: block;
        cursor: pointer
    }

    .offcanvas-menu-wrapper {
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        z-index: 999;
        background: #fff;
        overflow-y: auto;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        padding: 50px 30px 30px 30px;
        display: block
    }

    .offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
        left: 0;
        opacity: 1;
        visibility: visible
    }

    .offcanvas-menu-wrapper .canvas-close {
        font-size: 22px;
        width: 30px;
        height: 30px;
        border: 1px solid #151515;
        border-radius: 2px;
        text-align: center;
        line-height: 27px;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer
    }

    .offcanvas-menu-wrapper .canvas-search {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
        cursor: pointer
    }

    .offcanvas-menu-wrapper .canvas-menu {
        display: none
    }

    .offcanvas-menu-wrapper .canvas-social {
        text-align: center;
        padding-top: 20px
    }

    .offcanvas-menu-wrapper .canvas-social a {
        display: inline-block;
        font-size: 16px;
        color: #363636;
        margin-right: 6px
    }

    .offcanvas-menu-wrapper .canvas-social a:last-child {
        margin-right: 0
    }

    .offcanvas-menu-wrapper .slicknav_btn {
        display: none
    }

    .offcanvas-menu-wrapper .slicknav_menu {
        background: 0 0;
        padding: 0
    }

    .offcanvas-menu-wrapper .slicknav_nav {
        display: block !important
    }

    .offcanvas-menu-wrapper .slicknav_nav ul {
        margin: 0
    }

    .offcanvas-menu-wrapper .slicknav_nav .slicknav_row,
    .offcanvas-menu-wrapper .slicknav_nav a {
        padding: 10px 0;
        margin: 0;
        color: #151515;
        border-bottom: 1px solid #151515;
        font-weight: 500;
        font-family: Oswald, sans-serif;
        font-size: 15px
    }

    .offcanvas-menu-wrapper .slicknav_nav .slicknav_row:hover {
        border-radius: 0;
        background: 0 0;
        color: #f36100
    }

    .offcanvas-menu-wrapper .slicknav_nav a:hover {
        border-radius: 0;
        background: 0 0;
        color: #f36100
    }

    .nav-menu {
        display: none
    }

    .top-option {
        display: none
    }

    .grid-sizer {
        width: calc(50% - 10px)
    }

    .gallery .gs-item {
        width: calc(50% - 10px);
        float: none
    }
}

@media only screen and (max-width:767px) {
    .offcanvas-menu-overlay {
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, .7);
        z-index: 999;
        height: 100%;
        width: 100%;
        visibility: hidden;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s
    }

    .offcanvas-menu-overlay.active {
        visibility: visible
    }

    .canvas-open {
        position: absolute;
        right: 40px;
        top: 20px;
        font-size: 22px;
        width: 30px;
        height: 30px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 2px;
        line-height: 29px;
        text-align: center;
        z-index: 1;
        display: block;
        cursor: pointer
    }

    .offcanvas-menu-wrapper {
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        z-index: 999;
        background: #fff;
        overflow-y: auto;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        padding: 50px 30px 30px 30px;
        display: block
    }

    .offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
        left: 0;
        opacity: 1;
        visibility: visible
    }

    .offcanvas-menu-wrapper .canvas-close {
        font-size: 22px;
        width: 30px;
        height: 30px;
        border: 1px solid #151515;
        border-radius: 2px;
        text-align: center;
        line-height: 27px;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer
    }

    .offcanvas-menu-wrapper .canvas-search {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
        cursor: pointer
    }

    .offcanvas-menu-wrapper .canvas-menu {
        display: none
    }

    .offcanvas-menu-wrapper .canvas-social {
        text-align: center;
        padding-top: 20px
    }

    .offcanvas-menu-wrapper .canvas-social a {
        display: inline-block;
        font-size: 16px;
        color: #363636;
        margin-right: 6px
    }

    .offcanvas-menu-wrapper .canvas-social a:last-child {
        margin-right: 0
    }

    .offcanvas-menu-wrapper .slicknav_btn {
        display: none
    }

    .offcanvas-menu-wrapper .slicknav_menu {
        background: 0 0;
        padding: 0
    }

    .offcanvas-menu-wrapper .slicknav_nav {
        display: block !important
    }

    .offcanvas-menu-wrapper .slicknav_nav ul {
        margin: 0
    }

    .offcanvas-menu-wrapper .slicknav_nav .slicknav_row,
    .offcanvas-menu-wrapper .slicknav_nav a {
        padding: 10px 0;
        margin: 0;
        color: #151515;
        border-bottom: 1px solid #151515;
        font-weight: 500;
        font-family: Oswald, sans-serif;
        font-size: 15px
    }

    .offcanvas-menu-wrapper .slicknav_nav .slicknav_row:hover {
        border-radius: 0;
        background: 0 0;
        color: #f36100
    }

    .offcanvas-menu-wrapper .slicknav_nav .slicknav_row:hover a {
        color: #f36100
    }

    .offcanvas-menu-wrapper .slicknav_nav a:hover {
        border-radius: 0;
        background: 0 0;
        color: #f36100
    }

    .nav-menu {
        display: none
    }

    .top-option {
        display: none
    }

    .gallery .gs-item {
        width: 100%;
        float: none
    }

    .about-text {
        height: auto;
        padding: 120px 70px 60px 70px
    }

    .class-timetable {
        overflow-x: auto
    }

    .class-details-text .cd-trainer .cd-trainer-text {
        padding-top: 30px
    }

    .sidebar-option {
        padding-left: 0
    }

    .table-controls {
        text-align: left;
        margin-top: 0;
        margin-bottom: 30px
    }

    .class-item .ci-text:after {
        width: 750px
    }

    .ts_slider.owl-carousel .owl-nav button {
        left: 0
    }

    .ts_slider.owl-carousel .owl-nav button.owl-next {
        right: 0
    }

    .hs-slider.owl-carousel .owl-nav button {
        left: 0
    }

    .hs-slider.owl-carousel .owl-nav button.owl-next {
        right: 0
    }

    .search-model-form input {
        width: 100%
    }
}

@media only screen and (max-width:479px) {
    .primary-btn.appoinment-btn {
        float: none;
        margin-top: 0
    }

    .hs-slider .hs-item .hi-text h1 {
        font-size: 38px;
        line-height: normal
    }

    .team-title {
        margin-bottom: 20px
    }

    .about-text {
        padding: 70px 15px 60px
    }

    .search-model-form input {
        font-size: 28px
    }
}

* {
    letter-spacing: 0 !important
}

.dropdown-item {
    text-align: right
}

.dropdown-menu {
    transform: translate(0, 50px) !important
}