#preloder {
  right: 0;
  left: auto
}

@keyframes loader {
  0% {
      border-right-color: transparent
  }

  50% {
      border-right-color: transparent
  }

  100% {
      border-right-color: transparent
  }
}

.spacial-controls {
  left: 0;
  right: auto
}

.search-model {
  right: 0;
  left: auto;
  top: 0
}

.header-section {
  left: auto;
  right: 0
}

.nav-menu ul li {
  margin-left: 32px;
  margin-right: 0
}

.nav-menu ul li .dropdown {
  text-align: right;
  right: -30px;
  left: auto
}

.nav-menu ul li .dropdown li {
  margin-left: 0;
  margin-right: 0
}

.nav-menu ul li .dropdown li a {
  padding: 6px 30px 6px 0
}

.nav-menu ul li:last-child {
  margin-left: 0
}

.nav-menu ul li a:after {
  right: 0;
  left: auto
}

.top-option {
  text-align: left
}

.top-option .to-social a {
  margin-left: 0;
  margin-right: 15px
}

.hs-slider.owl-carousel .owl-nav button {
  left: auto;
  right: 30px
}

.hs-slider.owl-carousel .owl-nav button.owl-next {
  right: auto;
  left: 30px
}

.class-item .ci-text:after {
  left: auto;
  right: -5px
}

.class-item .ci-text a {
  left: 30px;
  right: auto
}

.ps-item .thumb-icon {
  right: 50px;
  left: auto
}

.gallery {
  margin-left: -10px;
  margin-right: 0
}

.gallery .gs-item {
  float: right;
  margin-left: 10px;
  margin-right: 0
}

.team-section.team-page .ts-item .tt_social a {
  margin-left: 10px;
  margin-right: 0
}

.team-section.team-page .ts-item .tt_social a:last-child {
  margin-left: 0
}

.team-title .section-title {
  text-align: right;
  float: right
}

.primary-btn.appoinment-btn {
  float: left
}

.ts-slider.owl-carousel .owl-dots button {
  margin-left: 15px;
  margin-right: 0
}

.ts-slider.owl-carousel .owl-dots button:last-child {
  margin-left: 0
}

.ts-item .ts_text {
  left: auto;
  right: 0
}

.gt-text i {
  float: right;
  margin-left: 20px;
  margin-right: 0
}

.gt-text ul li {
  margin-left: 25px;
  margin-right: 0
}

.gt-text ul li:after {
  left: -18px;
  right: auto
}

.gt-text ul li:last-child {
  margin-left: 0
}

.fs-about .fa-social a {
  margin-left: 10px;
  margin-right: 0
}

.fs-about .fa-social a:last-child {
  margin-left: 0
}

.fs-widget .fw-recent ul li {
  margin-right: 0;
  margin-left: 25px
}

.fs-widget .fw-recent ul li:after {
  right: auto;
  left: -16px
}

.about-text .section-title {
  text-align: right
}

.about-text .about-bar .ab-item .barfiller .tip {
  float: left
}

.ts_slider.owl-carousel .owl-nav button {
  right: 30px;
  left: auto
}

.ts_slider.owl-carousel .owl-nav button.owl-next {
  left: 30px;
  right: auto
}

.ss-text:after {
  left: auto;
  right: -15px
}

.ss-text.second-row:after {
  right: auto;
  left: 0
}

.table-controls {
  text-align: left
}

.table-controls ul li {
  margin-left: 35px;
  margin-right: 0
}

.table-controls ul li:after {
  left: -22px;
  right: auto
}

.table-controls ul li:last-child {
  margin-left: 0
}

.class-timetable table thead tr th {
  border-left: 1px solid #363636;
  border-right: 0
}

.sidebar-option {
  padding-right: 40px
}

.sidebar-option .so-categories ul li a span {
  float: left
}

.leave-comment form input {
  padding-left: 5px;
  padding-right: 20px
}

.leave-comment form textarea {
  padding-right: 20px;
  padding-left: 5px
}

@media only screen and (min-width:1650px) and (max-width:1920px) {
  .nav-menu ul li {
      margin-left: 60px;
      margin-right: 0
  }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
  .nav-menu ul li {
      margin-left: 5px;
      margin-right: 0
  }

  .ps-item .thumb-icon {
      right: 15px;
      left: auto
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .blog-section .sidebar-option {
      padding-right: 0
  }

  .sidebar-option {
      padding-right: 0
  }

  .table-controls {
      text-align: right
  }

  .ts_slider.owl-carousel .owl-nav button {
      right: 0;
      left: auto
  }

  .ts_slider.owl-carousel .owl-nav button.owl-next {
      left: 0;
      right: auto
  }

  .hs-slider.owl-carousel .owl-nav button {
      right: 0;
      left: auto
  }

  .hs-slider.owl-carousel .owl-nav button.owl-next {
      left: 0;
      right: auto
  }

  .offcanvas-menu-overlay {
      right: 0;
      left: auto
  }

  .canvas-open {
      left: 40px;
      right: auto
  }

  .offcanvas-menu-wrapper {
      right: -300px;
      left: auto
  }

  .offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
      left: auto;
      right: 0
  }

  .offcanvas-menu-wrapper .canvas-close {
      left: 20px;
      right: auto
  }

  .offcanvas-menu-wrapper .canvas-social a {
      margin-left: 6px;
      margin-right: 0
  }

  .offcanvas-menu-wrapper .canvas-social a:last-child {
      margin-left: 0
  }
}

@media only screen and (max-width:767px) {
  .offcanvas-menu-overlay {
      right: 0;
      left: auto
  }

  .canvas-open {
      left: 18px;
      right: auto
  }

  .offcanvas-menu-wrapper {
      right: -300px;
      left: auto
  }

  .offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
      left: auto;
      right: 0
  }

  .offcanvas-menu-wrapper .canvas-close {
      left: 20px;
      right: auto
  }

  .offcanvas-menu-wrapper .canvas-social a {
      margin-left: 6px;
      margin-right: 0
  }

  .offcanvas-menu-wrapper .canvas-social a:last-child {
      margin-left: 0
  }

  .blog-section .sidebar-option {
      padding-right: 0
  }

  .sidebar-option {
      padding-right: 0
  }

  .table-controls {
      text-align: right
  }

  .ts_slider.owl-carousel .owl-nav button {
      right: 0;
      left: auto
  }

  .ts_slider.owl-carousel .owl-nav button.owl-next {
      left: 0;
      right: auto
  }

  .hs-slider.owl-carousel .owl-nav button {
      right: 0;
      left: auto
  }

  .hs-slider.owl-carousel .owl-nav button.owl-next {
      left: 0;
      right: auto
  }
}